<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduMark</title>
</head>

<body>
    <header>
        <div class="logo"></div>
        <div class="main-menu  d-none d-lg-block">
            <nav>
                <ul id="navigation">
                    <li><a class="active" href="/">Accueil</a></li>
                    <li><a href="/projets">Tous les projets</a></li>
                    <li><a href="/investir">Comment investir</a></li>
                    <li><a href="/leverDesFonds">Lever des fonds</a></li>
                    <li><a href="/contact">Contact></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">

    </div>
    <footer>

    </footer>
</body>

</html>